
# PLEASE CHANGE THESE VALUES
POSTGRES_DB=name_of_the_db_example
POSTGRES_USER=backend_user_example
POSTGRES_PASSWORD=change_this_example_password

# DO NOT CHANGE (or adjust the Docker setup accordingly)
DB_PORT=5432
DB_HOST=postgres
