@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-scrollpanel-bar-y:hover {
  background: var(--p-neutral-500) !important;
}
